body{
  font-size: 1.3vw;
  align:center;
  font-family: arial;
}

h1{
  font-size:2vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #505050;
  font-family:Arial, sans-serif;
  font-size: 1vw;
}

li {
  float: left;
  font-size:10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:65%;
  max-width: 300px;;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 1.3vw;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.5vw;
}

a {
  text-decoration: none;
  font-size: 22px;
  color:white;

}

button:hover, a:hover {
  opacity: 0.7;
}